<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/">Produkt Manager</span>

  <span class="example-spacer"></span>
  <button mat-button routerLink="/users">Users</button>
  <button mat-button routerLink="/categories">Categories</button>

  <button mat-button routerLink="/products">Products</button>

  <button routerLink="/users/login" mat-button>
    {{ !token ? "Login" : "Logout" }}
  </button>
</mat-toolbar>
