<h1>{{ category.name }}</h1>

<p *ngIf="category?.products?.length < 1">No Products</p>

<table border="1" *ngIf="category.products.length > 0">
  <tr>
    <td>id</td>
    <td>image</td>
    <td>name</td>
    <td>price</td>
    <td>sku</td>
    <td>stock</td>
  </tr>
  <tr *ngFor="let data of category.products">
    <td>
      <a routerLink="/products/{{ data.id }}">{{ data.id }}</a>
    </td>
    <td>
      <a routerLink="/products/{{ data.id }}">{{ data.image }}</a>
    </td>
    <td>
      <a routerLink="/products/{{ data.id }}">{{ data.name }}</a>
    </td>
    <td>
      <a routerLink="/products/{{ data.id }}">{{ data.price }}</a>
    </td>
    <td>
      <a routerLink="/products/{{ data.id }}">{{ data.sku }}</a>
    </td>
    <td>
      <a routerLink="/products/{{ data.id }}">{{ data.stock }}</a>
    </td>
  </tr>
</table>
<button
  mat-button
  mat-raised-button
  color="primary"
  type="submit"
  routerLink="/categories/mod/{{ id }}"
>
  edit
</button>
<button
  mat-button
  mat-raised-button
  color="primary"
  type="submit"
  (click)="delete()"
>
  delete
</button>
