<h1>{{ category.name }} - Products</h1>

<p *ngIf="category?.products?.length < 1">No Products</p>

<div *ngIf="category?.products?.length > 0" id="listOfProducts">
  <div class="productListElem" *ngFor="let product of category?.products">
    <a routerLink="/products/{{ product.id }}">
      <h2>{{ product.name }}</h2>
      <img src="{{ product.image }}" alt="{{ product.name }}" />
    </a>
  </div>
</div>

<button
  mat-button
  mat-raised-button
  color="primary"
  type="submit"
  routerLink="/categories/mod/{{ id }}"
>
  edit
</button>
<button
  *ngIf="category?.products?.length < 1"
  mat-button
  mat-raised-button
  color="primary"
  type="submit"
  (click)="delete()"
>
  delete
</button>
