<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="">Product Manager</span>
  <button mat-button [matMenuTriggerFor]="pro">Products</button>
  <mat-menu #pro="matMenu">
    <button routerLink="products/" mat-menu-item>List</button>
    <button routerLink="products/1" mat-menu-item>Product 1</button>
    <button routerLink="products/mod/1" mat-menu-item>Edit</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="cat">Categories</button>
  <mat-menu #cat="matMenu">
    <button routerLink="categories" mat-menu-item>List</button>
    <button routerLink="categories/1" mat-menu-item>Category 1</button>
    <button routerLink="categories/mod/1" mat-menu-item>Edit</button>
  </mat-menu>
  <span class="example-spacer"></span>
  <a routerLink="users/login" mat-button>Login</a>
  <a routerLink="users/register" mat-button>Register</a>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
